<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol>
                <li>Create two Components (manually or with CLI):warningAlert and successAlert</li>
                <li>Output them beneath other in AppComponenet</li>
                <li>Output a warning or success message in the compoenents</li>
                <li>Style the component apporiately (maybe some red/green text?)</li>
            </ol>
            <p>Use external or internal templates and styles!</p>
            <p>Feel free to create more componenet, nest them into each other or play arount with
                different types of selectors!
            </p>
            <hr>
            <app-warning-alert></app-warning-alert>
            <app-success-alert></app-success-alert>
        </div>
    </div>
</div>